
<div class="trialpartWrapper" style="text-align: left;">
	<b> <font size="12"> Bem-vind@! </font> </b>
	<p>
	Obrigado por participar da nossa experiência. 
	<p>
	Na primeira metade deste experimento, você precisará avaliar se uma palavra é aceitável ou inaceitável.
	
	Na segunda metade, você irá avaliar algumas palavras imaginárias.
	<p>	
	Todas as respostas são confidenciais e não serão usadas para identificá-lo pessoalmente.
	<p>
	<b> Primeiro, vamos praticar! </b>
	<p>
	<%= continueButton() %>
</div>

