<div style="text-align: left;">


<p>
Obrigado por participar do nosso experimento!

Se você desejar compartilhar com os amigos, aqui está um link:

</p>
<p>
<a href="https://www.albany.edu/~sr769768/BrazilianPortuguese/">Nosso experimento</a>
</p>

</div>