
<div class="trialpartWrapper" style="text-align: left;">
	<b> <font size="12"> Parte dois</font> </b>
	<p>
	Nesta seção, você verá e ouvirá palavras que não são reais.
 

	<p>	
	Por favor, use seu julgamento para decidir se as sentenças soam como possíveis sentenças em português.
	<p>
	<b> Primeiro, vamos praticar! </b>
	<p>
	<%= continueButton() %>
</div>

